.header-container{
    height: 50px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: rgb(93, 93, 93);
    border: 1px;
}