.custom-approutes{
}

.custom-app.clientDashboard {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.custom-app.adminDashboard {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.custom-menu-content {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.custom-main-content {
    border-radius: 5px;
    flex: 1;
    margin: 5px;
    padding: 20px;
    overflow-y: auto;
}