.app.clientDashboard {
    display: flex;
    height: 100vh;
    margin: 5px 5px 5px 5px;
    font-family: Arial, sans-serif;
  }
  .main-content {
    border: 1px solid #345474;
    border-radius: 5px;
    background: #e1dede;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }